.navbar{
  background-color : var(--base-color) !important;
  box-shadow:  0px 10px 10px 0px rbga(0,0,0,1) !important;
  .navbar-brand {
    color : black;
    font-weight: bold;
  }
  .active {
    color:var(--base-colo-light) !important;
    font-weight: bold;
  }
}
