<section class="us  container text-align-center mt-5">
  <div class="grid">
    <div class="row">
      <div class="col-md-4">
        <div class="us-description">
          <img src="/assets/imgs/icons/easy.svg" class="img-fluid">
          <h6>Facile</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="us-description">
          <img src="/assets/imgs/icons/security.svg" class="img-fluid">
          <h6>Sécurisé</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="us-description">
          <img src="/assets/imgs/icons/transfer.svg" class="img-fluid">
          <h6>Instantanné</h6>
        </div>
      </div>
    </div>
  </div>
</section>
