<app-market-nav [fixable]="true"></app-market-nav>

<app-market-banner [titre]="'Achetez et vendez mieux'" [middleWord]="'vos'" ></app-market-banner>

<section class="table container">
  <div class="tool-bar">
    <div class="btn-group">
      <button nz-button class="buy-btn" [ngClass]="checkDefault ? 'default' : 'none'"
        (click)="type='buy'; checkDefault = false;getValue()"
      >Acheter crypto</button>
      <button nz-button class="sell-btn" (click)="type='sell'; checkDefault = false;getValue()"
        >Vendre Crypto</button>
    </div>
  </div>
  <s-table [type]="type" [data]="tableToTransfer" ></s-table>
</section>

<app-join></app-join>
<app-footer></app-footer>
