

<section class="join">
  <div class="container">
    <div class="grid mt-2">
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p style="font-weight: bold;">
            Vous avez toujous rever d'une plateforme securisée sur laquelle vendre vos crypto ,
            sans ambuche sans faudre et de maniere transparente ?
            cette opportunité est la votre saisissez la !
          </p>
        </div>
        <div class="col-md-6">
          <button nz-button routerLink="/auth/register"> Rejoignez nous</button>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</section>
