* {
  margin: 0;
  padding: 0;
}

.join {
  background-color: var(--base-color);
  margin-top: 5%;
  text-align: center;
  height: 22vh;
  .grid {
    width: 60%;
    margin-left: 25%;
    position: absolute;
    button {
      margin-left: -30%;
      height: 6vh;
      margin-top: 2%;
      width: 300px;
      &:hover {
        color: black;
        border : none;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 900px) {
  .join {
    height: 30%;
  }
  .join .grid {
    width: 100%;
    margin-left: 0px;
  }
  .join .grid button {
    margin-left: 5%;
  }
}
