

<section class="join">
  <div class="container">
    <div class="grid mt-2">
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo commodi dolores ullam pariatur eveniet
            inventore. In dolorum consequatur quas pariatur veniam iste ipsum ea harum, doloremque, atque quaerat esse
            dolore!
          </p>
        </div>
        <div class="col-md-6">
          <button nz-button> S'inscrire maintenenant</button>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</section>
