<div class="container">
  <button class="btn btn-dark" (click)="showModal()"> Ajouter nouvelle adresse
    <span nz-icon nzType="file-protect" nzTheme="outline"></span>
  </button>
</div>
<div class="container table-responsive mt-3" style="margin-top: 5% !important;">
  <nz-spin [nzSpinning]="isLoad">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Date d'ajout</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of addresses | paginate: { itemsPerPage: 5, currentPage: p }">
        <th scope="row">{{address.name}}</th>
        <td>{{address.address}}</td>
        <td>{{address.createdAt | date}}</td>
        <td>
          <button  nz-button nzType="default" (click)="deleteAddress(address.id)">
           <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tbody>
  </table>
</nz-spin>
</div>
