<div class="container">
  <button class="btn btn-dark" (click)="showModal()"> Ajouter nouvelle adresse
    <span nz-icon nzType="file-protect" nzTheme="outline"></span>
  </button>
</div>
<div class="container table-responsive mt-3" style="margin-top: 5% !important;">
  <nz-spin [nzSpinning]="isLoad">
  <nz-table class="table table-bordered" #sortTable [nzData]="addresses" [nzTotal]="4"  nzShowPagination  [nzFrontPagination]="true"
  [nzTotal]="1" [nzPageSize]="4" [nzPageIndex]="1" >
    <thead class="thead-dark">
      <tr >
        <th scope="col" [nzShowSort]="true" (nzSortOrderChange)="changeSort($event)">Name</th>
        <th scope="col" [nzShowSort]="true">Address</th>
        <th scope="col" [nzShowSort]="true">Date d'ajout</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of sortTable.data">
        <td ><b>{{address.name}}</b></td>
        <td>{{address.address}}</td>
        <td>{{address.createdAt | date}}</td>
        <td>
          <button  nz-button nzType="default" (click)="deleteAddress(address.id)">
           <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
</div>
