<div class="wrapper">
  <div class="container">
    <br>
    <br>
    <app-back-button></app-back-button>
    <br>
    <br>
    <br>
    <nz-card>
      <nz-result nzStatus="success" nzTitle="Transaction effectué!"
        nzSubTitle="Reference cde transaction : {{transactionId}} ,merci de votre engagement.">
        <div nz-result-extra>
          <button nz-button routerLink="/user/transaction">Allert vers la boutique <i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
        </div>
      </nz-result>
    </nz-card>
  </div>

</div>
