<nz-layout class="app-layout" >
  <nz-sider class="menu-sidebar" nzTheme="dark" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a  routerLink="/">
        <img src="/assets/imgs/logo.png" alt="logo">
        <h1>SafePay Secure</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/admin/index" routerLinkActive="active">
        <span nz-icon nzType="dashboard" nzTheme="fill"></span>
        <span>Dashboard</span>
      </li>

      <li nz-menu-item routerLink="/admin/publications" routerLinkActive="active">
        <span nz-icon nzType="sound" nzTheme="fill"></span>
        <span>Demande de publication</span>
      </li>

      <li nz-menu-item routerLink="/admin/transactions">
        <span nz-icon nzType="pie-chart" nzTheme="fill"></span>
        <span>Vente</span>
      </li>

      <li nz-menu-item routerLink="/admin/transaction-type">
        <span nz-icon nzType="wallet" nzTheme="fill"></span>
        <span>Moyen de paiement</span>
      </li>

      <li nz-menu-item routerLink="/admin/user">
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
        <span>Utilisateurs</span>
      </li>

      <li nz-menu-item>
        <span nz-icon nzType="notification" nzTheme="outline"></span>
        <span >Gestion Notification</span>
      </li>

      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span >Déconnexion</span>
      </li>

      <!-- <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>-->
    </ul>
  </nz-sider  >
  <nz-layout>
    <nz-header >
      <div class="app-header" nz-row>
        <div nz-col nzSpan="10">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
        </div>
        <div nz-col nzSpan="2" nzOffset="12" class="avatar">
          <nz-avatar nzSize="large" nz-dropdown [nzDropdownMenu]="menu"  nzText = "{{user!.firstname[0] }}{{ user!.lastname[0] }}"
            style="color:white; background-color:black;cursor:pointer">
          </nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <app-profil-tools>
            </app-profil-tools>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Safepay Secure ©2023</nz-footer>
  </nz-layout>
</nz-layout>
