button {
  width: 230px !important;
  border : none;
  span[nz-icon] {
    position: absolute;
    margin-top: 0.3%;
    margin-left: 0.5%;
  }
}
table {
  button {
    width: auto !important;
    border : none;
    span[nz-icon] {
      position: relative;
      margin-top: 0%;
      margin-left:0%;
    }
  }
}
thead{
  background-color: rgb(28, 28, 28) !important;
  color : white !important;
}
