
<button class="btn btn-dark" (click)="showModal()">
  <span>Ajouter une publication</span>
  <i class="fa fa-plus-circle" style="margin-left:2% !important" aria-hidden="true"></i>
</button>
<div style="margin-top: 1%;">
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Filtrer par status" [(ngModel)]="filter">
    <nz-option nzLabel="Tout" nzValue="2"></nz-option>
    <nz-option nzLabel="Actif" nzValue="true"></nz-option>
    <nz-option nzLabel="Innactif" nzValue="false"></nz-option>
  </nz-select>
</div>

<!--<s-table [type]="'buy'" [pageSize]="4"></s-table>!-->
<div class="table-responsive" style="margin-top: 3% !important;">
  <nz-spin [nzSpinning]="isLoad">
    <nz-table class="table table-bordered" #headerTable [nzData]="publications" nzShowPagination  [nzFrontPagination]="true"
     [nzTotal]="total" [(nzPageSize)]="pageSize" [nzPageIndex]="pageIndex">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Description</th>
          <th scope="col">Monnaie a recevoir</th>
          <th scope="col">Monnaie d'exchange</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th scope="col">Adresse</th>
          <th scope="col">Status</th>
          <th scope="col">Paiement</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publication of headerTable.data | tableFilter : filter ; trackBy:trackPublication">
          <td scope="row">{{publication.detail.title}}</td>
          <td>{{publication.detail.description}}</td>
          <td>{{publication.detail.monnaie_a_recevoir}}</td>
          <td>{{publication.detail.monnaie_echange}}</td>
          <td>{{publication.detail.price}}</td>
          <td>{{publication.detail.quantity}}</td>
          <td>{{publication.detail.address}}</td>
          <td>
            <span *ngIf="!publication.active" style="color: gray;">
              <span nz-icon nzType="clock-circle" nzTheme="fill"></span>
            </span>
            <span *ngIf="publication.active" style="color:forestgreen">
              <span nz-icon nzType="check-circle" nzTheme="fill"></span>
            </span>
          </td>
          <td>
            <span *ngIf="!publication.verify" style="color: gray;">
              ...En attente
            </span>
            <span *ngIf="publication.verify" style="color:forestgreen">
              ...Payé
            </span>
          </td>
          <td>
            <button nz-button style="background-color: var(--base-color);color : white !important"
              (click)="delete(publication.id)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</div>
