<ul nz-menu>
  <li nz-menu-item>
    <span nz-icon nzType="user" nzTheme="outline"></span>
    <span class="text">Profil  </span>
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="setting" nzTheme="outline"></span>
    <span class="text">Parametres</span>
  </li>
  <li nz-menu-item routerLink="/user/safe/connect">
    <span nz-icon nzType="block" nzTheme="outline"></span>
    <span class="text">Safe Connect</span>
  </li>

  <li nz-menu-item>
    <span nz-icon nzType="logout" nzTheme="outline"></span>
    <span class="text">Deconnexion</span>
  </li>

</ul>
