<ul nz-menu>
  <li nz-menu-item routerLink="/user/account">
    <i class="fa fa-person" aria-hidden="true"></i>
    <span class="text">Mon compte  </span>
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="setting" nzTheme="outline"></span>
    <span class="text">Parametres</span>
  </li>
  <li nz-menu-item routerLink="/user/safe/connect">
    <span nz-icon nzType="block" nzTheme="outline"></span>
    <span class="text">Safe Connect</span>
  </li>

  <li nz-menu-item routerLink="/user/publication/add">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span class="text">Publications</span>
  </li>



  <li nz-menu-item>
    <span nz-icon nzType="logout" nzTheme="outline"></span>
    <span class="text">Deconnexion</span>
  </li>

</ul>
