<app-navbar [fixable]="false" [color]="'white'" [ngClass]="(pageY > 100 && fixable) ? 'not-diplayed' : 'display'"></app-navbar>
<nav class="navbar navbar-expand-lg navbar-light bg-dark" [ngClass]="(pageY > 100 && fixable) ? 'fixed' : 'not-fixed'">
  <a class="navbar-brand" style="margin-left: 3%;" href="#">SafePay</a>
  <div class="container collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link text-light" routerLink="/marketplace/new" routerLinkActive="active">
          Recentes publications
          <span nz-icon nzType="notification" class="icon" nzTheme="outline"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/marketplace/index" routerLinkActive="active">Boutique P2P
          <span nz-icon nzType="shop" class="icon" nzTheme="outline"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/marketplace/search" routerLinkActive="active">
          Recherche
          <span nz-icon nzType="search" class="icon" nzTheme="outline"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/offer/billing" routerLinkActive="active">Nos offres
          <span nz-icon nzType="wallet" class="icon" nzTheme="outline"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light disabled" routerLink="/donation" routerLinkActive="active">Faire un don
          <span nz-icon nzType="gift"  class="icon" nzTheme="outline"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
