<label>CryptoMonnaie a vendre</label>
<s-select [typeTransaction]="'Recevoir'"></s-select>
<br>
<br>
<label>CryptoMonnaie a recevoir</label>
<s-select></s-select>
<input class="form-control" placeholder="Basic usage" />
<input class="form-control" placeholder="Basic usage" />
<input class="form-control" placeholder="Basic usage" />
<input class="form-control" placeholder="Basic usage" />
<input class="form-control" placeholder="Basic usage" />
<input class="form-control" placeholder="Basic usage" />
<br>
<button class="btn btn-outline-dark col-md-12">
  Soumettre
  <span nz-icon nzType="check-circle" nzTheme="outline"></span>
</button>
