<ng-container>
  <form nz-form [formGroup]="validateForm" class="mt-5" (ngSubmit)="submitForm()" >
    <nz-form-item>
      <nz-form-control nzErrorTip="Veuillez renseigner votre email !">
        <nz-input-group nzPrefixIcon="mail">
          <input type="email" nz-input formControlName="email" placeholder="email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Veuillez renseigner votre mot de passe!">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input type="password" [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
            placeholder="Mot de passe" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin col-md-12" [nzType]="'primary'" [nzLoading]="isSpinned">Se connecter</button>
  </form>
</ng-container>
