
.main-card{
  margin-left: 20%;
  margin-top: 2% ;
  width: 800px;
  height: 90vh;
}

.pay_method {
  nz-card {
    margin: 10px;
    height: 100px;
    text-align: center;
    img {

      margin-top: -10%;
    }
    &:hover{
      border : 2px solid var(--base-color);
      box-shadow:  Opx  Opx 1Opx Opx rgba(0,0,0,0.3);
    }
  }
}
