<div class="container">
  <nz-card class="main-card">
    <app-back-button [text]="'Retour'"></app-back-button>
    <div class="grid container pay_method" style="margin-top: 3%;">
      <div class="row justify-content-center">
        <nz-card class="col-md-3 payment" (click)="activePaymentMethod('mobileMoney')">
          <img src="/assets/imgs/payment/money.png" class="img-fluid" width="80" height="80">
        </nz-card>
        <nz-card class="col-md-3 payment" (click)="activePaymentMethod('visa')">
          <img src="/assets/imgs/payment/visa.png" class="img-fluid" width="200" height="80">
        </nz-card>
        <nz-card class="col-md-3 payment" (click)="activePaymentMethod('crypto')">
          <img src="/assets/imgs/payment/crypto.png" class="img-fluid" width="80" height="80">
        </nz-card>
      </div>

    </div>

    <ng-template *ngIf="payment == 'crypto'">
      loredkddkdkdkdkdkdkdk
    </ng-template>
    <ng-container *ngIf="payment == 'visa'">
      <s-stripe-payment (transactionDetail)="getVisaTransactionDetail($event)"></s-stripe-payment>
    </ng-container>
    <ng-container *ngIf="payment == 'mobileMoney'">
      loresss
    </ng-container>
  </nz-card>

</div>
<div class="text-center">
  <img src="/assets/imgs/logo.png" class="text-center" width="80" height="40">
</div>
