
.banner{
  background: url("https://thumbs.dreamstime.com/b/cryptocurrency-bitcoin-btc-banner-background-217012288.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-form{
  margin-top: 25% !important;
  width: 80%;
  margin-left: 10%;
}

@media(min-width:0px) and (max-width:900px) {
  .banner {
    height: 20vh;
  }
}
