<section class="banner">
  <div class="grid">
    <div class="row">
      <div class="col-md-6">
        <div class="container text-area">
          <div class="text">
            <h1>Achetez et vendez facilement <br>vos<b class="crypto" > cryptomonnaies.</b></h1>
            <p style="margin-top: 3%;">Premiere marketplace de vente de crypto P2P</p>
          </div>
          <div class="button mt-5">
            <button nz-button routerLink="/auth/register">
              <span>S'inscrire</span>
              <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
            </button>
            <button nz-button style="margin-left: 1%;" class="buy" routerLink="/marketplace/">
              <span>Acheter</span>
              <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 img">
        <img src="/assets/imgs/images/black.png" class="img-fluid" height="400">
      </div>
    </div>
  </div>

</section>
