<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="/assets/imgs/logo.png" width="200" height="70">
          </h6>
          <p>
            Premiere plateforme d'echange de cryptomonnaies P2P
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Services
          </h6>
          <p>
            <a href="#!" class="text-reset">Vente de cryptomonnaies</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Gestion de portefeuille Crypto</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Conseil et investissement</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
          Liens utiles
          </h6>
          <p>
            <a href="#!" class="text-reset">Plan</a>
          </p>
          <p>
            <a routerLink="/marketplace/index" class="text-reset">Marketplace</a>
          </p>
          <p>
            <a routerLink="/marketplace/new" class="text-reset">Publication recentes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Centre d'aide</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Abidjan, PLT 10012, CI</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@safepay.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> +225 0103659060</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2022 made by:
    <a class="text-reset fw-bold" >ADACI</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
