.crypto {
  color: white;
}

.banner {
  background: var(--base-color);
  height: 40vh;
  .text-area {
    margin-top: 5%;
    button {
      background-color: white !important;
    }
  }
}



.wrapper {
  height: auto;
  width: 100%;
  background-color: var(--base-color-second-light) !important;
}
