<div class="wrapper">
  <app-market-nav></app-market-nav>
  <app-market-banner [titre]="'Achetez et vendez facilement'" [middleWord]="'vos'"></app-market-banner>
  <nz-spin [nzSpinning]="isSpinning" nzSize="large">
    <div class="container"><s-carousel [title]="'Achat'" [data]="buyPublication"></s-carousel></div>
  </nz-spin>
  <nz-spin [nzSpinning]="isSpinning" nzSize="large">
    <div class="container"><s-carousel [title]="'Vente'" [data]="sellPublication"></s-carousel></div>
  </nz-spin>
  <app-glow-button [url]="'/marketplace/index'"></app-glow-button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <app-footer style="margin-top: 5% !important;"></app-footer>
</div>
