<section class="about text-align-center mt-5">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="col-md-4">
          <img src="https://t4.ftcdn.net/jpg/01/63/43/31/360_F_163433147_g0sI0lMYnBFgcrXooTOC0eH9gXTpJZkq.jpg"
            class="img-fluid">
        </div>
        <div class="col-md-8 text">
          <h3>Qui sommes nous ?</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse labore expedita adipisci? Sapiente atque
          laboriosam quia enim, beatae, placeat ratione ab aperiam voluptate, cumque molestiae! Deserunt repellendus
          atque illum sapiente?
        </div>
      </div>
    </div>
  </div>
</section>
