<section class="about text-align-center mt-5">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://t4.ftcdn.net/jpg/01/63/43/31/360_F_163433147_g0sI0lMYnBFgcrXooTOC0eH9gXTpJZkq.jpg"
            class="img-fluid"
          />
        </div>
        <div class="col-md-8 text">
          <h3>Qui sommes nous ?</h3>
          <br>
          <br>
          <p>
            safexchange est une plateforme de ventre de monnaie electronique p2p .
            notre objectif est d'aider les personnes
            désirant acheté de la monnaie electronique de le faire tout en
            de la maniere la plus rapide et la plus facile possible.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
