<div class="container shop-element" *ngIf="data.length > 0">
  <div class="buttons ml-5" style="margin-left:3%">
    <button nz-button class="slider-button" (click)="owlCar2.next()"><</button>
    <button nz-button class="slider-button" style="margin-left: 1%;" (click)="owlCar2.prev()">></button>
  </div>
  <h3 class="text-center">P2P {{title | uppercase}}</h3>
  <owl-carousel-o [options]="customOptions" #owlCar2>
    <ng-template carouselSlide *ngFor="let publication of data;trackBy:fetchData">
      <nz-card class="col-md-3" [nzCover]="coverTemplate" [nzActions]="[actionCheckout,actionCart]"  >
        <nz-card-meta nzTitle="{{publication.detail.title}}"></nz-card-meta>
        <br>
        <p>Monnaie a acheter : {{publication.detail.monnaie_a_recevoir}}</p>
        <p>Moyen de paiement : {{publication.detail.monnaie_echange}}</p>
        <p>Quantité  : {{publication.detail.quantity}}</p>
        <p>Prix Proposé  : {{publication.detail.price}}</p>
        <p>Description  : {{publication.detail.description}}</p>
      </nz-card>
    </ng-template>
  </owl-carousel-o>

  <ng-template #coverTemplate>
    <img alt="example" src="https://www.fidelity.com/bin-public/060_www_fidelity_com/images/Viewpoints/AT/bitcoin_banner_2022.jpg" style="width: 100% !important;height: 20vh !important;"   />
  </ng-template>

  <ng-template #actionCheckout >
   <b style="color: var(--base-color);" >{{title == 'Achat' ? 'Vendre' : 'Acheter'}} <i class="fa fa-credit-card" aria-hidden="true"></i></b>
  </ng-template>
  <ng-template #actionCart>
   <b style="color:black">Safe Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i> </b>
  </ng-template>
</div>

