@media (min-width: 0px) and (max-width: 900px) {
  button {
    width: 100% !important;
    height: 10vh !important;
  }

  nz-input-group {
    height: auto;
  }
}

nz-input-group {
  height: 6vh;
}

button {
  height: 6vh !important;
  border : 1px solid var(--base-color);
  &:hover { border:  1px solid var(--base-color);}

}
