s-select {

  margin-top: 2%;
}
nz-select{
  border-radius: 20px !important;
}
input {
  margin-top: 15px;
}
textarea {
  margin-top: 15px;
}
.form{
  button {
    text-align: center;
    margin-left: 1.7% !important;
  }
}

