<br>
<br>
<label>CryptoMonnaie a Acheter</label>
<s-select [typeTransaction]="'Recevoir'" [(crypto)]="currency_to_buy"></s-select>
<br>
<br>
<label>Monnaie d'echange</label>
<s-select [(crypto)]="mean_of_payment"></s-select>
<nz-alert style="margin-top: 2%;" nzType="info"
  nzMessage="Taux du jours : {{quantity.value}}  {{mean_of_payment.value}} =   {{currencyRate.rate * quantity.value}} {{currency_to_buy.value }}"
  *ngIf="currencyRate"></nz-alert>
<input class="form-control" type="number" placeholder="Quantité" [formControl]="quantity" />
<input class="form-control" placeholder="Prix" />
<input class="form-control" placeholder="Basic usage" />
<input class="form-control" placeholder="Basic usage" />
<input class="form-control" placeholder="Basic usage" />
<textarea class="form-control" placeholder="Description">
</textarea>
<br>
<button class="btn btn-dark col-md-12">
  Soumettre
  <span nz-icon nzType="check-circle" nzTheme="outline"></span>
</button>
