<div class="container">
  <div class="buttons btn-group text-center">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="enableForm('buy')" [ngClass]="defaultPublicationForm == 'buy' ? 'active': 'inactive'" >
        <span>Achat</span> <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
      </button>
      <button class="btn btn-primary" (click)="enableForm('sell')" [ngClass]="defaultPublicationForm == 'sell' ? 'active': 'inactive'">
        <span>Vente</span> <span nz-icon nzType="arrow-down" nzTheme="outline"></span>
      </button>
    </div>

  </div>
  <div class="container  form text-align-center">
      <app-buy-publication-form *ngIf="defaultPublicationForm == 'buy'"></app-buy-publication-form>
      <app-sell-publication-form *ngIf="defaultPublicationForm == 'sell'"></app-sell-publication-form>
    </div>
</div>
<br>
<br>
<br>
