.axes {
  height: 20rem;
  width: 93%;
  color: var(--base-color);

  margin-left: 48px;
}

.chart {
  margin-top: 2%;
  h6 {
    margin-left: 5% !important;
  }
}
.row{
  display: flex;
  justify-content: center;
  nz-card {
   width: 300px;
   height: 160px;
   margin-left: 20px;
   text-align: center;
   h1 {
    font-size: 40px !important;

   }
   &:hover{
    background-color: #Ffda7f;
    color : gray;
    h1 {
      color : gray;
      font-weight: bold !important;
    }
   }
  }
}


h1 {
  font-size: 40px !important;
}


@media(min-width:0px) and (max-width:900px) {
  nz-card {
    width: 250px !important;
    height: auto !important;
    margin-top: 5%;
  }

  h1{
    font-size: 20px;
  }

  .chart {
    margin-top: 0px !important;
    h6 {
      margin-left: 0px !important;
    }
  }
}
