<section class="container pricing text-align-center mt-5">
  <nz-spin [nzSpinning]="isSpinning">
    <h3 class="text-center">Nos offres</h3>
    <div class="grid">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let plan of plans">
          <div class="card card1 h-100">
            <div class="card-body">
              <h5 class="card-title">{{plan.name}}</h5>
              <small class='text-muted'>{{plan.name.includes("Prenium")? 'Offre entreprise' : 'Offre Particulier'}}</small>
              <br><br>

              <span class="h2">XOF {{plan.price}}</span>/mois
              <br><br>
              <p>
                {{formatData(plan.description)}}
              </p>
              <div class="d-grid my-3">
                <button nz-button (click)="navigate(plan.id)" >Souscrire</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>

</section>
