<section class="container pricing text-align-center mt-5">
  <h3 class="text-center">Nos offres</h3>
  <div class="grid">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card card1 h-100">
          <div class="card-body">
            <h5 class="card-title">Basic</h5>
            <small class='text-muted'>Individual</small>
            <br><br>
            <span class="h2">$8</span>/month
            <br><br>
            <div class="d-grid my-3">
              <button nz-button>Souscrire</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card card2 h-100">
          <div class="card-body">
            <h5 class="card-title">Standard</h5>
            <small class='text-muted'>Small Business</small>
            <br><br>
            <span class="h2">$20</span>/month
            <br><br>
            <div class="d-grid my-3">
              <button nz-button>Souscrire</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card card3 h-100">
          <div class="card-body">

            <h5 class="card-title">Premium</h5>
            <small class='text-muted'>Large Company</small>
            <br><br>
            <span class="h2">$40</span>/month
            <br><br>
            <div class="d-grid my-3">
              <button nz-button>Souscrire</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
