* {
  margin: 0;
  padding: 0;
}

.pricing {
  .grid {
    width: 100%;
    text-align: center !important;
    margin-left: 5%;
  }
  .card {
    text-align: center;
    margin: 20px;
    border: 1px solid black;
    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      border: none;
    }

    &:hover .btn-outline-dark {
      color: white;
      background: #212529;
    }
    .card-body {
      h5 {
        margin-top: 10% !important;
      }
      button {
        width: 50%;
        margin-left: 25%;
        &:hover{
          background-color: var(--base-color);
          color :black;
          border: none;
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 900px) {
  .pricing {
    .grid {
      width: 100%;
      text-align: center !important;
      margin-left: 0%;
    }
    .card {
      border: 1px solid var(--base-color);
    }
  }
}
